<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">#ID</th>
    <th scope="col">Имя</th>
    <th scope="col">пол</th>
    <th scope="col">Номер телефона</th>
    <th scope="col">Возраст</th>
    <th scope="col">Адрес</th>
    <th scope="col">Создан</th>
    <th scope="col">Последний визит</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Almir</td>
    <td>MALE</td>
    <td>89600478632</td>
    <td>33</td>
    <td>Kazan</td>
    <td>12.12.12</td>
    <td>12.12.12</td>
    <td>
      <button class="btn btn-success">Update</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary">Add</button>
