.me-auto {
  margin-right: 133px !important;
}

.search {
  margin-right: 5px;
}

.control {
  position: absolute;
  right: 39px;
}

.control button, .form-inline button {
  margin-left: 5px;
  color: white;
}
