<div class="create-client">
  <form [formGroup]="clientGroup" (ngSubmit)="add()" class="login">
    <div formGroupName="client">
      <div class="mt-3" style="margin-bottom: 16px">
        <input [value]="myClient.fullName" formControlName="name" type="text" class="form-control" placeholder="Имя" aria-label="Full Name">
      </div>

      <select [value]="myClient.gender" formControlName="gender" class="form-select" aria-label="Default select example">
        <option value="MALE">М</option>
        <option value="FEMALE">Ж</option>
      </select>

      <div class="mt-3">
        <input [value]="myClient.phone" formControlName="phone" type="text" class="form-control" placeholder="Номер телефона"
               aria-label="Phone Number">
      </div>

      <div class="mt-3">
        <input [value]="myClient.age" formControlName="age" type="number" class="form-control" placeholder="Возраст" aria-label="Age">
      </div>

      <div class="mt-3">
        <input [value]="myClient.address" formControlName="address" type="text" class="form-control" placeholder="Адрес" aria-label="Address">
      </div>
    </div>

    <div>
      <button class="btn btn-primary mt-3"> Добавить</button>
    </div>
  </form>
</div>
