<div class="create-client">
  <div class="mt-3">
    <input type="text" class="form-control" placeholder="Имя" aria-label="Full Name">
  </div>

  <div class="mt-3">
    <input type="text" class="form-control" placeholder="пол" aria-label="Gender">
  </div>

  <div class="mt-3">
    <input type="text" class="form-control" placeholder="Номер телефона" aria-label="Phone Number">
  </div>

  <div class="mt-3">
    <input type="number" class="form-control" placeholder="Возраст" aria-label="Age">
  </div>

  <div class="mt-3">
    <input type="text" class="form-control" placeholder="Адрес" aria-label="Address">
  </div>

  <div>
    <button class="btn btn-primary mt-3"> Log IN</button>
  </div>
</div>
