<form>
  <label for="name"> Наименование </label>
  <input type="text"
         placeholder="Наименование"
         [(ngModel)]="newProduct.name"
         name="name"
         id="name"
  >
  <label for="name"> Артикль </label>
  <input type="number"
         placeholder="Артикль"
         [(ngModel)]="newProduct.article"
         name="article"
  >
  <label for="name"> Цена </label>
  <input type="number"
         placeholder="Цена"
         [(ngModel)]="newProduct.price"
         name="price"
  >
  <label for="name"> Количество на складе </label>
  <input type="number"
         placeholder="Количество на складе"
         [(ngModel)]="newProduct.in_stock"
         name="in_stock"
  >
  <label for="name"> Дата производства </label>
  <input type="date"
         placeholder="Дата производства"
         [(ngModel)]="newProduct.created_date"
         name="create_date"
  >
</form>
<button type="submit" (click)="save()">Сохранить товар</button>
