<div class="alert alert-danger" *ngIf="message">
  {{message}}
</div>
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">#ID</th>
    <th scope="col">Наименование</th>
    <th scope="col">Цена</th>
    <th scope="col">Готово к продаже</th>
    <th scope="col">Дата внесения</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <th scope="row">{{product.id}}</th>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.stock}}</td>
    <td>{{product.dateCreated}}</td>
    <td>
      <button class="btn btn-success" routerLink="/product_options">Update</button>
      <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary" routerLink="/product_options">Add</button>
